@import url(fontawesome-all.min.css);
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,600,600italic");

:root {
    --c4po-blue: #222644;
    --c4po-dark-blue: #151b2e;
    --c4po-info: #34a4fe;
    --c4po-primary: #3267fe;
    --c4po-success: #01d68f;
    --c4po-warning: #ffab00;
    --c4po-error: #ff3d70;
    --c4po-white: #fefeff;
}

* {
    background-color: var(c4po-dark-blue);
    font-family: futura !important;
}


    /* Contact Method */

	.contact-method {
		margin: 0 0 2em 0;
		padding-left: 3.25em;
		position: relative;
	}

		.contact-method .icon {
			left: 0;
			position: absolute;
			top: 0;
		}

		.contact-method h3 {
			margin: 0 0 0.5em 0;
		}

    /* Contact */

	#contact {
	    color: white;
	    font-family: futura !important;

		border-bottom: solid 1px rgba(212, 212, 255, 0.1);
		overflow-x: hidden;
	}

		#contact > .inner {
			display: -moz-flex;
			display: -webkit-flex;
			display: -ms-flex;
			display: flex;
			padding: 0 !important;
		}

			#contact > .inner > :nth-child(2n - 1) {
				padding: 4em 3em 2em 3em ;
				/*border-right: solid 1px rgba(212, 212, 255, 0.1);*/
				width: 60%;
			}

			#contact > .inner > :nth-child(2n) {
				padding-left: 3em;
				width: 40%;
			}

			#contact > .inner > .split {
				padding: 0;
			}

				#contact > .inner > .split > * {
					padding: 3em 0 1em 3em ;
					position: relative;
				}

					#contact > .inner > .split > *:before {
						border-top: solid 1px rgba(212, 212, 255, 0.1);
						content: '';
						display: block;
						margin-left: -3em;
						position: absolute;
						top: 0;
						/*width: calc(100vw + 3em);*/
						width: 100vw;
					}

				#contact > .inner > .split > :first-child:before {
					display: none;
				}

		@media screen and (max-width: 980px) {

			#contact > .inner {
				display: block;
			}

				#contact > .inner > :nth-child(2n - 1) {
					padding: 4em 0 2em 0 ;
					border-right: 0;
					width: 100%;
				}

				#contact > .inner > :nth-child(2n) {
					padding-left: 0;
					width: 100%;
				}

				#contact > .inner > .split > * {
					padding: 3em 0 1em 0 ;
				}

				#contact > .inner > .split > :first-child:before {
					display: block;
				}

		}

		@media screen and (max-width: 736px) {

			#contact > .inner > :nth-child(2n - 1) {
				padding: 3em 0 1em 0 ;
			}

		}

#wpr-usedcss {
}

#global-styles-inline-css {
}

#wp-duotone-dark-grayscale {
}

#wp-duotone-grayscale {
}

#wp-duotone-purple-yellow {
}

#wp-duotone-blue-red {
}

#wp-duotone-midnight {
}

#wp-duotone-magenta-yellow {
}

#wp-duotone-purple-green {
}

#wp-duotone-blue-orange {
}

#app {
}

#header {
}

#header-nav {
    background-color: #222644;
}

#mobile-menu-sidebar {
}

#mobile-menu-close {
}

#mobile-menu-links {
}

#main {
}

#footer {
}

#rocket-browser-checker-js-after {
}

#rocket-preload-links-js-extra {
}

#rocket-preload-links-js-after {
}

#app/1-js-before {
}

#app/1-js {
}

.sr-only.focus:not-sr-only {
}

.flex.items-center.relative.max-w-screen-2xl.m-auto.w-full.lg:px-4 {
}

.w-[217px].py-4.lg:py-0 {
}

.flex.items-center.flex-shrink-0.text-white.mr-6 {
}

.inline-block.pl-4.lg:pl-0.pr-0.lg:pr-5.lg:py-3 {
}

.max-w-[140px].sm:max-w-[170px].lg:max-w-[197px].lg:min-w-[197px] {
}

.w-full.text-left {
}

.px-8.pt-3.pb-24.relative {
}

.sr-only {
}

.py-4 {
}

.inline {
}

.gb-container.gb-container-74ef8d08.slanted-bg-blade.alignfull {
    background-color: #151b2e;
}

.gb-container.gb-container-a2b3e8c0 {
    /*background-color: #222644;*/
}

.gb-headline.gb-headline-d8a69f23.gb-headline-text {
}

.gb-container.gb-container-48fbcfc0 {
}

.gb-grid-wrapper.gb-grid-wrapper-06d1a122.homepage-hero-grid {
}

.gb-grid-column.gb-grid-column-a2bf0fab {
}

.gb-container.gb-container-a2bf0fab {
}

.gb-container.gb-container-15879007 {
}

.gb-grid-wrapper.gb-grid-wrapper-c94bf692.flex {
}

.gb-grid-column.gb-grid-column-2a92780b {
}

.gb-container.gb-container-2a92780b.flex.flex-wrap-none.items-center {
}

.wp-block-image.size-large {
}

.wp-image-14037 {
}

.gb-headline.gb-headline-e5da2a35.gb-headline-text {
}

.gb-grid-column.gb-grid-column-dca873a8 {
}

.gb-container.gb-container-dca873a8 {
}

.gb-headline.gb-headline-0163d30f.gb-headline-text {
}

.gb-headline.gb-headline-5fdf0d32.gb-headline-text.text-lg.md:text-xl {
}

.text-lg.md:text-xl.pb-8.checkmark.dark-blue {
    color: #34a4fe !important;
    background-color: #34a4fe !important;
}

.more-link {
}

.circle.bg-dark-blue {
    background-color: #34a4fe;
}

.icon.arrow {
}

.button-text.text-dark-blue {
    color: #34a4fe;
}

.gb-grid-column.gb-grid-column-31706fa5 {
}

.gb-container.gb-container-31706fa5 {
}

.gb-grid-wrapper.gb-grid-wrapper-68002249.flex {
}

.gb-grid-column.gb-grid-column-b731bc8f {
}

.gb-container.gb-container-b731bc8f.flex.flex-wrap-none.items-center {
}

.wp-image-14038 {
}

.gb-headline.gb-headline-db4ca4dd.gb-headline-text {
}

.gb-grid-column.gb-grid-column-d927d17e {
}

.gb-container.gb-container-d927d17e {
}

.gb-headline.gb-headline-6c40dfcf.gb-headline-text {
}

.gb-headline.gb-headline-fe1433c7.gb-headline-text.text-lg.md:text-xl {
}

.text-lg.md:text-xl.pb-8.checkmark.purple {
}

.circle.bg-packet-purple {
    background-color: #34a4fe;
}

.button-text.text-packet-purple {
    color: #34a4fe;
}

.button-text.text-packet-purple: hover {
    background-color: #34a4fe;
}

.gb-container.gb-container-5628ce4e {
    background-color: #222644;
}

.gb-container.gb-container-5628ce4c {
    background-color: #222644;
}


.bonus {
    color: #222644 !important;
}


.author {
    padding-top: 1rem;
    color: #fefeff !important;
}

.juice {
    background-color: #ffab00 !important;
    border-color: #222644 !important;
}

.juice:hover {
    background-color: #ffab00 !important;
    border-color: #fefeff !important;
}

.gb-container.gb-container-fae303c0 {
}

.gb-headline.gb-headline-8f5e7a1e.gb-headline-text {
}

.gb-button.gb-button-816131bd.gb-button-text {
    font-family: futura;
    color: #151b2e;
}

.gb-container.gb-container-cf2c1879.customer-logo-ticker {
}

.gb-container.gb-container-83034b28 {
}

.gb-grid-wrapper.gb-grid-wrapper-68effe07 {
}

.gb-grid-column.gb-grid-column-8473ab12 {
}

.gb-container.gb-container-8473ab12 {
}

.wp-image-14050 {
}

.gb-grid-column.gb-grid-column-5261c7d6 {
}

.gb-container.gb-container-5261c7d6 {
}

.wp-block-image.size-full {
}

.wp-image-14056 {
}

.gb-grid-column.gb-grid-column-5f519ed0 {
}

.gb-container.gb-container-5f519ed0 {
}

.wp-image-14053 {
}

.gb-grid-column.gb-grid-column-030e4ee1 {
}

.gb-container.gb-container-030e4ee1 {
}

.wp-image-14059 {
}

.gb-grid-column.gb-grid-column-390bacab {
}

.gb-container.gb-container-390bacab {
}

.wp-image-14063 {
}

.gb-grid-column.gb-grid-column-5c948a64 {
}

.gb-container.gb-container-5c948a64 {
}

.wp-image-14061 {
}

.gb-grid-column.gb-grid-column-8aef32fb {
}

.gb-container.gb-container-8aef32fb {
}

.wp-image-14052 {
}

.gb-grid-column.gb-grid-column-31ca8402 {
}

.gb-container.gb-container-31ca8402 {
}

.wp-image-14058 {
}

.gb-grid-column.gb-grid-column-a2cd43f6 {
}

.gb-container.gb-container-a2cd43f6 {
}

.wp-image-14055 {
}

.gb-grid-column.gb-grid-column-1fb2d882 {
}

.gb-container.gb-container-1fb2d882 {
}

.wp-image-14048 {
}

.gb-grid-column.gb-grid-column-8fddb43d {
}

.gb-container.gb-container-8fddb43d {
}

.wp-image-14051 {
}

.gb-grid-column.gb-grid-column-9cced553 {
}

.gb-container.gb-container-9cced553 {
}

.wp-image-14049 {
}

.gb-container.gb-container-b171bd90.angle-left-light-gray-gradient {
}

.gb-container.gb-container-4ca715f8 {
}

.gb-grid-wrapper.gb-grid-wrapper-a29c6c56 {
}

.gb-grid-column.gb-grid-column-9b165a72 {
}

.gb-container.gb-container-9b165a72 {
}

.video-wrap.relative {
}

.iframe-video-embed.relative.bg-black.rounded-lg.shadow-lg {
}

.play-video-wrap.absolute.inset-0.inline-block.w-full.h-full.bg-lightest-gray {
}

.absolute.px-4.pt-4.text-base.md:text-xl.text-white.block {
	z-index: 20
}

.relative.inline-block.w-full.h-full {
}

.object-cover.object-center.absolute.w-full.h-full {
}

.gb-grid-column.gb-grid-column-d53e6a65 {
}

.gb-container.gb-container-d53e6a65 {
}

.gb-headline.gb-headline-05919f5c.gb-headline-text {
}

.gb-headline.gb-headline-8cfed685.gb-headline-text {
}

.link-area {
    width: 16.8rem !important;
    margin: 2rem;
}

.circle.bg-primary {
    background-color: #3267fe;
}

.button-text.text-primary {
   color: #3267fe;
}

.circle.bg-green {
    background-color: #01d68f;
}

.button-text.text-green {
   color: #01d68f;
}

.circle.bg-light-blue {
    background-color: #34a4fe;
}

.button-text.text-light-blue {
   color: #34a4fe;
}

.circle.bg-blue {
    background-color: #222644;
    /*background-color: #ff3d70;*/
}

.button-text.text-blue {
   color: #222644;
   /*color: #ff3d70;*/
}

.gb-container.gb-container-f00317ac.angle-bottom-down.angle-white.alignfull {
}

.gb-container.gb-container-203a27ab {
}

.gb-grid-wrapper.gb-grid-wrapper-f7c7249d {
}

.gb-grid-column.gb-grid-column-03e00cf7 {
}

.gb-container.gb-container-03e00cf7 {
}

.gb-inside-container {

}

.wp-block-image.aligncenter.size-full.text-center.w-full {
}

.gb-headline.gb-headline-906f061c.gb-headline-text {
}

.gb-grid-column.gb-grid-column-73de7ae9 {
}

.gb-container.gb-container-73de7ae9 {
}

.gb-headline.gb-headline-7a7fd83e.gb-headline-text {
}

.gb-grid-column.gb-grid-column-a166341f {
}

.gb-container.gb-container-a166341f {
}

.gb-headline.gb-headline-6fc76859.gb-headline-text {
}

.gb-grid-column.gb-grid-column-fad8e47d {
}

.gb-container.gb-container-fad8e47d {
}

.gb-headline.gb-headline-1e454ed1.gb-headline-text {
}

.gb-container.gb-container-c20d10c5 {
}

.relative.w-full.pt-12.pb-24.tab-swiper-section.tabbed-slider.pt-24.alignfull {
}

.mb-12.pt-12.pb-8.text-2xl.xs:text-3xl.lg:text-4xl.text-black.text-center.px-8 {
}

.flex.flex-col.lg:flex-row.px-4.sm:px-8.xl:pl-6.xl:pr-0.xxl-container.mx-auto.relative {
}

.relative.flex.space-between.left-0.top-0 {
}

.relative.w-full.lg:w-[240px].carousel-slider-tabs.pb-4.lg:pb-0.text-center.lg:text-left.flex.flex-row.flex-wrap.lg:flex-col.justify-center.lg:justify-start.lg:space-between.lg:pt-8 {
}

.whitespace-nowrap.lg:text-right.relative.slide-link.inline-block.lg:block.w-auto.lg:w-full.px-6.sm:px-8.lg:pl-0.lg:pr-8.py-2.lg:py-6.font-mono.text-black.text-lg.cursor-pointer.duration-150.transition.hover:text-purple.active {
}

.tab-title.lg:inline-block.transition-transform.duration-150 {
}

.ml-4.arrow-icon.right {
}

.whitespace-nowrap.lg:text-right.relative.slide-link.inline-block.lg:block.w-auto.lg:w-full.px-6.sm:px-8.lg:pl-0.lg:pr-8.py-2.lg:py-6.font-mono.text-black.text-lg.cursor-pointer.duration-150.transition.hover:text-purple {
}

.slider-content-wrap.relative.bg-white.right-0.top-0 {
}

.solutions-swiper.swiper {
}

.swiper-wrapper {
}

.shadow-lg.swiper-slide {
}

.flex.flex-row.flex-wrap.p-4.py-8.sm:p-8.md:p-12.lg:px-20.lg:pt-16.lg:pb-8.xl:pr-4.justify-center {
}

.w-full {
}

.mb-8.text-2xl.sm:text-3xl.lg:text-4xl.text-center.lg:text-left {
}

.w-auto.xl:w-1/2.order-2.xl:order-1.xl:pr-8 {
}

.mb-8.text-lg.sm:text-xl.lg:text-2xl.font-extrabold.text-packet-purple.text-left {
    color: #34a4fe !important;
}

.tabbed-slider__content {
}

.font-sans.text-lg.lg:text-xl.mb-3.text-black {
}

.pl-8.list-disc {
}

.font-sans.text-lg.lg:text-xl.mb-3 {
}

.w-auto.xl:w-1/2.order-1.xl:order-2.pb-12.xl:pb-0.px-4.lg:px-8.text-center {
}

.rounded-lg.inline-block.w-3/4.lg:w-full.max-w-md.h-auto.mx-auto {
}

.relative.flex.flex-row.flex-wrap.px-4.sm:px-8.md:px-12.lg:px-20.pb-16 {
}

.shadow-lg.swiper-slide.sr-only {
}

.gb-container.gb-container-836b46bf.angle-top-up.angle-packet {
    background-color: #222644;
}

.gb-container.gb-container-113ea891 {
    background-color: #222644;
}

.gb-grid-wrapper.gb-grid-wrapper-f17e5407 {

}

.gb-grid-column.gb-grid-column-c987428c {
    background-color: #222644 !important;
}

.gb-container.gb-container-c987428c {
    background-color: #222644 !important;
}

.gb-grid-wrapper.gb-grid-wrapper-7968cf3d {
    background-color: #222644 !important;
}

.gb-grid-column.gb-grid-column-9132fde0 {
    background-color: #222644 !important;
}

.gb-container.gb-container-9132fde0 {
    background-color: #222644 !important;
}

.gb-headline.gb-headline-386cea57.gb-headline-text {
    font-size: xx-large;
}

.gb-grid-column.gb-grid-column-e5ff9470 {

}

.gb-container.gb-container-e5ff9470 {

}

.gb-headline.gb-headline-4600978c.gb-headline-text {
}

.gb-grid-column.gb-grid-column-700b4087 {
}

.gb-container.gb-container-700b4087 {
}

.gb-container.gb-container-622eb930.border-left-angled-white.mx-auto {
}

.wp-block-image {
}

.aligncenter.size-full.is-resized {
}

.wp-image-14046 {
}

.gb-headline.gb-headline-a2d4bbb5.gb-headline-text.tracking-wide {
}

.wp-image-13470 {
}

.gb-button-wrapper.gb-button-wrapper-08f501ca.flex.justify-center.pt-16 {
}

.gb-button.gb-button-4cb98901.gb-button-text {
}

.gb-container.gb-container-c8eff136 {
}

.relative.w-full {
}

.relative.w-[320px].xs:w-[396px].lg:w-[860px].xl:w-[1300px].flex.justify-center.flex-wrap.mx-auto {
}

.mx-auto.w-[320px].xs:w-[396px].bg-white.shadow-lg.border.border-lightest-gray.relative.mb-8.xl:mb-0.post-19.page.type-page.status-publish.has-post-thumbnail.hentry {
}

.block {
}

.h-[190px].xs:h-[235px].w-[320px].xs:w-[396px] {
}

.inline-block.w-full.h-auto.object-contain.object-center.wp-post-image {
}

.mb-4.px-4.xs:px-8.pt-8 {
}

.font-semibold.text-lg.sm:text-xl.md:text-2xl.text-black.entry-title {
}

.hover:opacity-60.transition-opacity {
}

.pb-24.px-4.xs:px-8.entry-summary.text-base.xs:text-lg {
}

.px-4.xs:px-8.absolute.bottom-8.left-0.w-full.text-center {
}

.link.text-lg {
}

.gb-container.gb-container-d5c4df4f {
}

.gb-grid-wrapper.gb-grid-wrapper-f86bd9ef {
}

.gb-grid-column.gb-grid-column-5d1893da {
}

.gb-container.gb-container-5d1893da {
}

.wp-block-image.is-style-rounded {
}

.wp-image-13471 {
}

.gb-grid-column.gb-grid-column-52316a93 {
}

.gb-container.gb-container-52316a93 {
}

.gb-headline.gb-headline-574df782.gb-headline-text {
    color: #3267fe;
}

.gb-button.gb-button-ba67da38.gb-button-text {
    background-color: #3267fe !important;
    border-color: #3267fe !important;
}

.gb-button.gb-button-ba67da38.gb-button-text:hover {
    color: #3267fe;
    background-color: #fefeff !important;
    border-color: #3267fe !important;
}

.gb-headline.gb-headline-6634c847.gb-headline-text {
}

.gb-headline.gb-headline-1aca099b.gb-headline-text {
    color: #fefeff;
    padding: 2rem 2rem 2rem 0;
}

.gb-button-wrapper.gb-button-wrapper-ebe55007 {
}

.container.mx-auto.px-4.py-8 {
}

.mb-2.font-mono.text-white.text-sm.lg:text-md.font-semibold.text-center {
}

.list-none.pl-0.text-center {
}

.list-none.block.md:inline-block {
}

.inline-block.text-white.text-sm.lg:text-md {
}

.list-none.hidden.md:inline-block.text-white.mx-4 {
}

section {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	}

section {
	display: block;
}

mark {
	background-color: transparent;
	color: inherit;
}

input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input, select, textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
}

Section/Article */

	section.special, article.special {
		text-align: center;
	}

	header.major {
		width: -moz-max-content;
		width: -webkit-max-content;
		width: -ms-max-content;
		width: max-content;
		margin-bottom: 2em;
	}

		header.major > :first-child {
			margin-bottom: 0;
			width: calc(100% + 0.5em);
		}

			header.major > :first-child:after {
				content: '';
				background-color: #ffffff;
				display: block;
				height: 2px;
				margin: 0.325em 0 0.5em 0;
				width: 100%;
			}

		header.major > p {
			font-size: 0.7em;
			font-weight: 600;
			letter-spacing: 0.25em;
			margin-bottom: 0;
			text-transform: uppercase;
		}

		body.is-ie header.major > :first-child:after {
			max-width: 9em;
		}

		body.is-ie header.major > h1:after {
			max-width: 100% !important;
		}

	@media screen and (max-width: 736px) {

		header.major > p br {
			display: none;
		}

	}

/* Form */

	form {
		margin: 0 0 2em 0;
	}

		form > :last-child {
			margin-bottom: 0;
		}

		form > .fields {
			display: -moz-flex;
			display: -webkit-flex;
			display: -ms-flex;
			display: flex;
			-moz-flex-wrap: wrap;
			-webkit-flex-wrap: wrap;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			width: calc(100% + 3em);
			margin: -1.5em 0 2em -1.5em;
		}

			form > .fields > .field {
				-moz-flex-grow: 0;
				-webkit-flex-grow: 0;
				-ms-flex-grow: 0;
				flex-grow: 0;
				-moz-flex-shrink: 0;
				-webkit-flex-shrink: 0;
				-ms-flex-shrink: 0;
				flex-shrink: 0;
				padding: 1.5em 0 0 1.5em;
				width: calc(100% - 1.5em);
			}

				form > .fields > .field.half {
					width: calc(50% - 0.75em);
				}

				form > .fields > .field.third {
					width: calc(100%/3 - 0.5em);
				}

				form > .fields > .field.quarter {
					width: calc(25% - 0.375em);
				}

		@media screen and (max-width: 480px) {

			form > .fields {
				width: calc(100% + 3em);
				margin: -1.5em 0 2em -1.5em;
			}

				form > .fields > .field {
					padding: 1.5em 0 0 1.5em;
					width: calc(100% - 1.5em);
				}

					form > .fields > .field.half {
						width: calc(100% - 1.5em);
					}

					form > .fields > .field.third {
						width: calc(100% - 1.5em);
					}

					form > .fields > .field.quarter {
						width: calc(100% - 1.5em);
					}

		}

	label {
		color: #ffffff;
		display: block;
		font-size: 0.8em;
		font-weight: 600;
		letter-spacing: 0.25em;
		margin: 0 0 1em 0;
		text-transform: uppercase;
	}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	input[type="tel"],
	input[type="search"],
	input[type="url"],
	select,
	textarea {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		background: rgba(212, 212, 255, 0.035);
		border: none;
		border-radius: 0;
		color: inherit;
		display: block;
		outline: 0;
		padding: 0 1em;
		text-decoration: none;
		width: 100%;
	}

		input[type="text"]:invalid,
		input[type="password"]:invalid,
		input[type="email"]:invalid,
		input[type="tel"]:invalid,
		input[type="search"]:invalid,
		input[type="url"]:invalid,
		select:invalid,
		textarea:invalid {
			box-shadow: none;
		}

		input[type="text"]:focus,
		input[type="password"]:focus,
		input[type="email"]:focus,
		input[type="tel"]:focus,
		input[type="search"]:focus,
		input[type="url"]:focus,
		select:focus,
		textarea:focus {
			border-color: #9bf1ff;
			box-shadow: 0 0 0 2px #9bf1ff;
		}

	select {
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' preserveAspectRatio='none' viewBox='0 0 40 40'%3E%3Cpath d='M9.4,12.3l10.4,10.4l10.4-10.4c0.2-0.2,0.5-0.4,0.9-0.4c0.3,0,0.6,0.1,0.9,0.4l3.3,3.3c0.2,0.2,0.4,0.5,0.4,0.9 c0,0.4-0.1,0.6-0.4,0.9L20.7,31.9c-0.2,0.2-0.5,0.4-0.9,0.4c-0.3,0-0.6-0.1-0.9-0.4L4.3,17.3c-0.2-0.2-0.4-0.5-0.4-0.9 c0-0.4,0.1-0.6,0.4-0.9l3.3-3.3c0.2-0.2,0.5-0.4,0.9-0.4S9.1,12.1,9.4,12.3z' fill='rgba(212, 212, 255, 0.1)' /%3E%3C/svg%3E");
		background-size: 1.25rem;
		background-repeat: no-repeat;
		background-position: calc(100% - 1rem) center;
		height: 2.75em;
		padding-right: 2.75em;
		text-overflow: ellipsis;
	}

		select option {
			color: #ffffff;
			background: #242943;
		}

		select:focus::-ms-value {
			background-color: transparent;
		}

		select::-ms-expand {
			display: none;
		}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	input[type="tel"],
	input[type="search"],
	input[type="url"],
	select {
		height: 2.75em;
	}

	textarea {
		padding: 0.75em 1em;
	}

	input[type="checkbox"],
	input[type="radio"] {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		display: block;
		float: left;
		margin-right: -2em;
		opacity: 0;
		width: 1em;
		z-index: -1;
	}

		input[type="checkbox"] + label,
		input[type="radio"] + label {
			text-decoration: none;
			color: #ffffff;
			cursor: pointer;
			display: inline-block;
			font-weight: 300;
			padding-left: 2.65em;
			padding-right: 0.75em;
			position: relative;
		}

			input[type="checkbox"] + label:before,
			input[type="radio"] + label:before {
				-moz-osx-font-smoothing: grayscale;
				-webkit-font-smoothing: antialiased;
				display: inline-block;
				font-style: normal;
				font-variant: normal;
				text-rendering: auto;
				line-height: 1;
				text-transform: none !important;
				font-family: 'Font Awesome 5 Free';
				font-weight: 900;
			}

			input[type="checkbox"] + label:before,
			input[type="radio"] + label:before {
				background: rgba(212, 212, 255, 0.035);
				content: '';
				display: inline-block;
				font-size: 0.8em;
				height: 2.0625em;
				left: 0;
				letter-spacing: 0;
				line-height: 2.0625em;
				position: absolute;
				text-align: center;
				top: 0;
				width: 2.0625em;
			}

		input[type="checkbox"]:checked + label:before,
		input[type="radio"]:checked + label:before {
			background: #ffffff;
			border-color: #9bf1ff;
			content: '\f00c';
			color: #242943;
		}

		input[type="checkbox"]:focus + label:before,
		input[type="radio"]:focus + label:before {
			box-shadow: 0 0 0 2px #9bf1ff;
		}

	input[type="radio"] + label:before {
		border-radius: 100%;
	}

	::-webkit-input-placeholder {
		color: rgba(244, 244, 255, 0.2) !important;
		opacity: 1.0;
	}

	:-moz-placeholder {
		color: rgba(244, 244, 255, 0.2) !important;
		opacity: 1.0;
	}

	::-moz-placeholder {
		color: rgba(244, 244, 255, 0.2) !important;
		opacity: 1.0;
	}

	:-ms-input-placeholder {
		color: rgba(244, 244, 255, 0.2) !important;
		opacity: 1.0;
	}

/* Button */

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button,
	.button {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
		-webkit-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
		-ms-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
		transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
		background-color: transparent;
		border: 0;
		border-radius: 0;
		box-shadow: inset 0 0 0 2px #ffffff;
		color: #ffffff;
		cursor: pointer;
		display: inline-block;
		font-size: 0.8em;
		font-weight: 600;
		height: 3.5em;
		letter-spacing: 0.25em;
		line-height: 3.5em;
		padding: 0 1.75em;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		white-space: nowrap;
	}

		input[type="submit"]:hover, input[type="submit"]:active,
		input[type="reset"]:hover,
		input[type="reset"]:active,
		input[type="button"]:hover,
		input[type="button"]:active,
		button:hover,
		button:active,
		.button:hover,
		.button:active {
			box-shadow: inset 0 0 0 2px #9bf1ff;
			color: #9bf1ff;
		}

		input[type="submit"]:active,
		input[type="reset"]:active,
		input[type="button"]:active,
		button:active,
		.button:active {
			background-color: rgba(155, 241, 255, 0.1);
			box-shadow: inset 0 0 0 2px #53e3fb;
			color: #53e3fb;
		}

		input[type="submit"].icon:before,
		input[type="reset"].icon:before,
		input[type="button"].icon:before,
		button.icon:before,
		.button.icon:before {
			margin-right: 0.5em;
		}

		input[type="submit"].fit,
		input[type="reset"].fit,
		input[type="button"].fit,
		button.fit,
		.button.fit {
			width: 100%;
		}

		input[type="submit"].small,
		input[type="reset"].small,
		input[type="button"].small,
		button.small,
		.button.small {
			font-size: 0.6em;
		}

		input[type="submit"].large,
		input[type="reset"].large,
		input[type="button"].large,
		button.large,
		.button.large {
			font-size: 1.25em;
			height: 3em;
			line-height: 3em;
		}

		input[type="submit"].next,
		input[type="reset"].next,
		input[type="button"].next,
		button.next,
		.button.next {
			padding-right: 4.5em;
			position: relative;
		}

			input[type="submit"].next:before, input[type="submit"].next:after,
			input[type="reset"].next:before,
			input[type="reset"].next:after,
			input[type="button"].next:before,
			input[type="button"].next:after,
			button.next:before,
			button.next:after,
			.button.next:before,
			.button.next:after {
				-moz-transition: opacity 0.2s ease-in-out;
				-webkit-transition: opacity 0.2s ease-in-out;
				-ms-transition: opacity 0.2s ease-in-out;
				transition: opacity 0.2s ease-in-out;
				background-position: center right;
				background-repeat: no-repeat;
				background-size: 36px 24px;
				content: '';
				display: block;
				height: 100%;
				position: absolute;
				right: 1.5em;
				top: 0;
				vertical-align: middle;
				width: 36px;
			}

			input[type="submit"].next:before,
			input[type="reset"].next:before,
			input[type="button"].next:before,
			button.next:before,
			.button.next:before {
				background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='36px' height='24px' viewBox='0 0 36 24' zoomAndPan='disable'%3E%3Cstyle%3Eline %7B stroke: %23ffffff%3B stroke-width: 2px%3B %7D%3C/style%3E%3Cline x1='0' y1='12' x2='34' y2='12' /%3E%3Cline x1='25' y1='4' x2='34' y2='12.5' /%3E%3Cline x1='25' y1='20' x2='34' y2='11.5' /%3E%3C/svg%3E");
			}

			input[type="submit"].next:after,
			input[type="reset"].next:after,
			input[type="button"].next:after,
			button.next:after,
			.button.next:after {
				background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='36px' height='24px' viewBox='0 0 36 24' zoomAndPan='disable'%3E%3Cstyle%3Eline %7B stroke: %239bf1ff%3B stroke-width: 2px%3B %7D%3C/style%3E%3Cline x1='0' y1='12' x2='34' y2='12' /%3E%3Cline x1='25' y1='4' x2='34' y2='12.5' /%3E%3Cline x1='25' y1='20' x2='34' y2='11.5' /%3E%3C/svg%3E");
				opacity: 0;
				z-index: 1;
			}

			input[type="submit"].next:hover:after, input[type="submit"].next:active:after,
			input[type="reset"].next:hover:after,
			input[type="reset"].next:active:after,
			input[type="button"].next:hover:after,
			input[type="button"].next:active:after,
			button.next:hover:after,
			button.next:active:after,
			.button.next:hover:after,
			.button.next:active:after {
				opacity: 1;
			}

			@media screen and (max-width: 1280px) {

				input[type="submit"].next,
				input[type="reset"].next,
				input[type="button"].next,
				button.next,
				.button.next {
					padding-right: 5em;
				}

			}

		input[type="submit"].primary,
		input[type="reset"].primary,
		input[type="button"].primary,
		button.primary,
		.button.primary {
			background-color: #ffffff;
			box-shadow: none;
			color: #242943;
		}

			input[type="submit"].primary:hover, input[type="submit"].primary:active,
			input[type="reset"].primary:hover,
			input[type="reset"].primary:active,
			input[type="button"].primary:hover,
			input[type="button"].primary:active,
			button.primary:hover,
			button.primary:active,
			.button.primary:hover,
			.button.primary:active {
				background-color: #9bf1ff;
				color: #242943 !important;
			}

			input[type="submit"].primary:active,
			input[type="reset"].primary:active,
			input[type="button"].primary:active,
			button.primary:active,
			.button.primary:active {
				background-color: #53e3fb;
			}

		input[type="submit"].disabled, input[type="submit"]:disabled,
		input[type="reset"].disabled,
		input[type="reset"]:disabled,
		input[type="button"].disabled,
		input[type="button"]:disabled,
		button.disabled,
		button:disabled,
		.button.disabled,
		.button:disabled {
			pointer-events: none;
			cursor: default;
			opacity: 0.25;
		}

